<!DOCTYPE html>
<html>
  <head>
    <title>ChemicalStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all' %>
    <%= stylesheet_link_tag "main", media: 'all' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<!--    <%#= stylesheet_link_tag "main", media: 'all' %>
    <%#= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>-->

  </head>

  <body>


  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Магазин бытовой химии</a></li>
          <% if user_signed_in? %>
            <li><a href="/stocks" class="nav-link px-2 text-white">Склады</a></li>
          <% end %>
          <li><a href="/products" class="nav-link px-2 text-white">Все продукты</a></li>
          <% if user_signed_in? %>
            <li><a href="/users" class="nav-link px-2 text-white">Пользователи</a></li>
          <% end %>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <% if user_signed_in? %>
            <a type="button" class="btn btn-outline-light me-2" href="<%= destroy_user_session_path %>">Profile</a>
            <a data-method="delete" type="button" class="btn btn-warning" href="<%= destroy_user_session_path %>">Sign-out</a>
          <% else %>
            <a type="button" class="btn btn-outline-light me-2" href="<%= new_user_session_path %>">Login</a>
            <a type="button" class="btn btn-warning" href="<%= new_user_registration_path %>">Sign-up</a>
          <% end %>
        </div>
      </div>
    </div>
  </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>


  <section class="cta mb-5">
    <div class="container text-center">
      <h3>Обратная связь</h3>
      <p>
        По вопросам обращайтесь в тихническую поддержку
      </p>
      <a href="https://t.me/MechaelDodo" target="_blank" class="cta-btn">Telegram</a>
    </div>
  </section>

  </body>
</html>
